# ---------- APP VARIABLES
ENVIRONMENT=local
SOURCE_NAME=caged-query
METRICS_TABLE_NAME=caged_geo_job_metrics
DATASET_CATALOG_TABLE_NAME=caged_dataset_catalog
CBO_LOOKUP_TABLE_NAME=caged_cbo_lookup
CBO_FAMILY_CODE_INDEX_NAME=family_code-index
GEO_LOOKUP_TABLE_NAME=caged_geo_lookup
DATASET_ID=CAGED_GEO_JOB_METRICS
CORS_ALLOWED_ORIGIN=http://localhost:3000
MAX_QUERY_MONTHS=24
BATCH_GET_MAX_RETRIES=3

# ---------- LOG VARIABLES
POWERTOOLS_SERVICE_NAME=caged-query
POWERTOOLS_LOG_LEVEL=INFO
POWERTOOLS_LOG_EVENT=false

# ---------- OPTIONAL LOCAL DYNAMODB VARIABLES
# DYNAMODB_ENDPOINT_URL=http://127.0.0.1:8000
# DYNAMODB_MAX_POOL_CONNECTIONS=10
